{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="row justify-content-center mt-5">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <form action="{{ path('app_login') }}" method="post">
                <div class="form-group">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>
                <input type="hidden" name="_target_path" value="/"/>
                <button type="submit" class="btn btn-primary mt-3">Login</button>
            </form>
        </div>
    </div>
{% endblock %}