{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        {% for product in products %}
            {{ include('parts/productCard.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}
