{% extends 'base.html.twig' %}

{% block title %}Wholesale!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Log in or register to see the products!</h2>
        </div>
    </div>
{% endblock %}
