{% extends './admin/base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question</th>
                    <th scope="col">User email</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% if productQuestions is not empty %}
                    {% for productQuestion in productQuestions %}
                        <tr >
                            <th scope="row"></th>
                            <td>{{ productQuestion.question }}</td>
                            <td>{{ productQuestion.user.email }}</td>
                            <td>{{ productQuestion.createdAt|date("m/d/Y") }}</td>
                            <td>
                                <a  class="text-black opacity-hover" href="{{ path('app_admin_question_answer', {'questionId': productQuestion.id}) }}">
                                    <i class="fa-solid fa-clipboard-question"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are not any questions.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
