{% extends './admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Select tab for start working!</h2>
        </div>
    </div>
{% endblock %}
