// assets/styles/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import "./Global/global.scss";
@import "./admin/file/file.scss";
 *
 {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
body
{
  background-color: $backgroud-color;
}
.opacity-hover:hover
{
  opacity: 0.5;
  cursor: pointer;
}