{% for message in app.flashes('success') %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                {{ message }}
            </div>
        </div>
    </div>
{% endfor %}