{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="col-10">
                <div class="row">
                    <button type="button" class="btn btn-dark">Questions</button>
                </div>
                <div class="row mt-3">
                    <button type="button" class="btn btn-dark user-setting-change-password-button">Change password</button>
                </div>
                <div class="row mt-3">
                    <button type="button" class="btn btn-dark">Change email</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 user-setting-wrapp justify-content-center text-center">

        </div>
    </div>
{% endblock %}